@model bai_tap_buoi_6.Models.Student

<h2>Chi tiết sinh viên</h2>

<p>Id: @Model.Id</p>
<p>Tên: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Phone: @Model.Phone</p>

<a asp-action="Index">Quay lại</a>