@model Bai4_FormSubmit.Models.Book

<h2>Add Book</h2>

<form method="post">

    <div>
        <label>ID</label>
        <input type="number" asp-for="Id" />
    </div>

    <br />

    <div>
        <label>Name</label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Price</label>
        <input type="number" asp-for="Price" />
        <span asp-validation-for="Price" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Save</button>

</form>

<h3>@ViewBag.Message</h3>