<h2>Login Form</h2>

<form method="post">

    <div>
        <label>Username</label>
        <input type="text" name="username" />
    </div>

    <br />

    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>

    <br />

    <button type="submit">Login</button>

</form>

<h3>@ViewBag.Message</h3>