@model BIT_240048.Models.DishImage_BIT240048

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DishImage_BIT240048</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsThumbnail" class="control-label"></label>
                <input asp-for="IsThumbnail" class="form-check-input" />
                <span asp-validation-for="IsThumbnail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DishId" class="control-label"></label>
                <input asp-for="DishId" class="form-control" />
                <span asp-validation-for="DishId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dish" class="control-label"></label>
                <input asp-for="Dish" class="form-control" />
                <span asp-validation-for="Dish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
